<template>
  <PopupWindow class="Window" customClass="Window--confirm" ref="windowPopup">
    <h3 class="Window__title">{{ title }}</h3>
    <div class="Window__text">{{ text }}</div>

    <div class="Window__actions">
      <AppButton
        class="Window__button confirm"
        @click="confirm"
      >
        {{ $t('confirmPopup.confirm') }}
      </AppButton>
      <AppButton
        class="Window__button cancel"
        @click="close"
      >
        {{ $t('confirmPopup.cancel') }}
      </AppButton>
    </div>
  </PopupWindow>
</template>

<script lang="ts" setup>
  const windowPopup: Ref<any> = ref();

  const title: Ref<string | null> = ref(null);
  const text: Ref<string | null> = ref(null);
  let callback: any;

  const emit = defineEmits(['confirm']);
  const confirm = () => emit('confirm', callback);
  const open = (pTitle: string, pText: string, pCallback: any) => {
    title.value = pTitle;
    text.value = pText;
    callback = pCallback;
    windowPopup.value.open();
  }
    
  const close = () => windowPopup.value.close();

  defineExpose({ open, close });
</script>

<style lang="scss">
  .Window {
    padding-top: 20rem;

    &--confirm {
      max-width: 500px;
      min-width: 300px;
      width: 100%;
      background-color: rgba(var(--color-tertiary), 1);
      padding: 1rem 1.3rem;
    }

    &__title {
      font-size: 1.4rem;
    }

    &__text {
      padding-top: 1rem;
      font-size: 0.9rem;
    }

    &__actions {
      margin-top: 3rem;
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
    }
    &__button {
      width: 100px;

      &.confirm {
        background-color: rgba(var(--color-green), 0.6);
      }

      &.cancel {
        background-color: rgba(var(--color-red), 0.7);
      }
    }
  }
</style>