<template>
  <header class="AppMenu">
    <div class="AppMenu__topBar">
      <div class="topBar__wrapper">
       <AppLogo class="topBar__logo"/>

        <div class="topBar__user">
          <AppUser />
          <AppButton @click="logut" class="topBar__button">
            {{ $t('menu.logout') }}
          </AppButton>
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts" setup>
  const authStore = useAuthStore();
  const router = useRouter();

  const logut = async() => {
    try {  
      await authStore.logout();
      router.push('/login');
    } catch (error: any) {
      console.log(error.message)
    }
  }
</script>

<style lang="scss">
  .AppMenu {
    position: relative;
    z-index: 99;

    &__topBar {
      background-color: rgba(var(--color-primary), 1);

      .topBar {
        &__wrapper {
          @include max-width;
          display: flex;
          padding: 10px 20px;
        }

        &__logo {
          font-size: 1.5rem;
          flex: 1;
        }

         &__user {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        &__button {
          width: 100px;
          height: 36px;
        }
      }
    }
  }
</style>