<template>
  <div class="AppInput" :class="{[`AppInput--${variant}`]: variant }">
    <label :for="id">
      <div class="AppInput__wrapper">
        <input
          class="AppInput__input"
          v-bind="computedAttributes"
          :required="required"
        />
        <div class="AppInput__title">
          <slot />
        </div>
      </div>
    </label>
  </div>
</template>

<script lang="ts" setup>
  const props = defineProps<{
    id: string,
    variant: string,
    type: string,
    required: boolean,
    value: any,
  }>();

  const emit = defineEmits(['update:value']);

  const attrs = useAttrs();
  const onInput = (event: any) => emit('update:value', event.target.value || null);
  
  const computedAttributes = computed(() => {
    return {
      id: props.id,
      type: props.type,
      autocomplete: 'off',
      required: props.required,
      onInput: onInput,
      value: props.value,
      ...attrs,
    };
  });
</script>

<style lang="scss">
  .AppInput {
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__title {
      padding: 2px 3px;
      transition: 0.3s;
      color: rgb(var(--color-text), 0.6);
    }

    .AppInput__input:hover +.AppInput__title,
    .AppInput__input:focus +.AppInput__title {
      color: rgb(var(--color-text), 1);
    }

    &__input {
      padding: 0 10px;
      height: 32px;
      width: 100%;
      background-color: rgb(var(--color-text), 0.1);
      border: 1px solid rgb(var(--color-text), 0.1);
      outline: none;
      transition: 0.3s;
      color: inherit;

      &:hover, &:focus {
        border: 1px solid rgb(var(--color-text), 0.5);
      }
    }
  }
</style>
