<template>
  <div class="AppUser">
    <nuxt-img
      class="AppUser__icon"
      src="/img/user.webp"
      quality="100"
      width="45"
      height="45"
      loading="lazy"
    />
    <div class="AppUser__balance">
      {{ current.name }} <br />
      {{ current.balance }} {{ $t('user.points') }}
    </div>
  </div>
</template>

<script lang="ts" setup>
  const current = computed(() => userStore.user);
  const userStore = useUserStore();
</script>

<style lang="scss">
  .AppUser {
    display: flex;
    align-items: center;
    gap: 10px;

    &__icon {
      height: 45px;
      width: 45px;
      border: 2px solid rgba(var(--color-text));
      border-radius: 100%;
    }
  }
</style>