<template>
  <div class="AppTable">
    <table
      cellspacing="0"
      cellpadding="0"
      width="100%"
      class="AppTable__table"
    >
      <thead class="AppTable__header">
        <tr class="header__row">
          <th
            v-for="item in columns"
            :key="item"
            class="header__cell"
          >
            {{ item.value }}
          </th>
        </tr>
      </thead>
      <tbody class="AppTable__body">
        <tr
          v-for="(row, rowIdx) in rows"
          :key="rowIdx"
          class="body__row"
        >
          <td
            v-for="(columnKey, idx) in columns"
            :key="idx"
            class="body__cell"
          >
            <template v-if="$slots[columnKey.name]">
              <slot
                :idx="idx"
                :row="row"
                :name="columnKey.name"
                :columnKey="columnKey.name"
              />
            </template>
            <template v-else>
              {{ row[columnKey.name] }}
            </template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts" setup>
  interface Props {
    columns: string[];
    rows: any[];
  }

  const props = defineProps<Props>();
</script>

<style lang="scss">
  .AppTable {
    max-width: 100vw;
    overflow: auto;

    &__table {
      overflow: auto hidden;
    }

    &__header {
      background-color: rgba(var(--color-secondary), 1);

      .header {
        &__cell {
          font-size: 0.9rem;
          font-weight: 600;
          padding: 1.5rem 0.5rem;
          color: rgb(var(--color-base));
        }
      }
    }

    &__body {
      .body {
        &__row {
          width: 100%;
          height: 4.625rem;
          font-weight: 600;
          font-size: 0.85rem;
          background-color: rgba(var(--color-secondary), 0.2);

          &:nth-child(even) {
            background-color: rgba(var(--color-secondary), 0.5);
          }
        }
    
        &__cell {
          text-align: center;
          padding: 0.5rem 2rem;
          min-width: 80px;
          max-width: 300px;
        }
      }
    }
  }
</style>
