<template>
  <div class="AppCheckbox">
    <label :for="id">
      <div class="AppCheckbox__wrapper">
        <input
          class="AppCheckbox__input"
          v-bind="computedAttributes"
        />
        <div class="AppCheckbox__title">
          <span class="title__checkbox">
            <nuxt-icon
              name="tick"
              class="checkbox__icon"
            />
          </span>
          <div class="title__text">
            <slot />
          </div>
        </div>
      </div>
    </label>
  </div>
</template>

<script lang="ts" setup>
  const props = defineProps<{
    id: string,
    required: boolean,
    value: any,
  }>();

  const emit = defineEmits(['update:value']);
  const onInput = (event: any) => emit('update:value', event.target.checked);

  const attrs = useAttrs();
  const computedAttributes = computed(() => {
    return {
      id: props.id,
      type: 'checkbox',
      class: 'AppCheckbox_input',
      required: props.required,
      checked: props.value,
      onInput: onInput,
      ...attrs,
    };
  });
</script>

<style lang="scss">
  .AppCheckbox {
    &__wrapper {
      position: relative;
      cursor: pointer;
    }

    &__title {
      display: flex;
      color: rgb(var(--color-text), 0.6);
      font-size: 0.9rem;
      transition: 0.3s;
      
      .title__checkbox {
        display: block;
        height: 14px;
        width: 14px;
        background-color: rgb(var(--color-text), 0.1);
        border: 1px solid rgb(var(--color-text), 0.1);
        border-radius: 4px;
        margin-right: 5px;
        transform: translateY(25%);
        transition: 0.3s;

        .checkbox__icon {
          position: absolute;
          display: block;
          opacity: 0;
          font-size: 0.6rem;
          color: rgb(var(--color-base));
          transform: translate(10%, 0%);
        }
      }
    }

    &__input {
      position: absolute;
      top: 0;
      opacity: 0;
      cursor: pointer;

      &:checked + .AppCheckbox__title {
        color: rgb(var(--color-text), 1);

        .title__checkbox {
          border: 1px solid rgb(var(--color-text), 0.5);
  
          .checkbox__icon {
            opacity: 1;
          }
        }
      }
    }
  }
</style>