<template>
  <main class="AppPage" :class="{ [`AppPage--${name}`]: name }">
    <slot />
  </main>
</template>

<script lang="ts" setup>
  defineProps<{ name: string }>();
</script>

<style lang="scss">
  .AppPage {
    @include max-width;
  }
</style>