<template>
  <div class="Logo">
    <nuxt-img
      class="Logo__image"
      src="/img/logo-white.webp"
      alt="explorer"
      width="100%"
      height="100%"
      quality="100"
      loading="lazy"
    />
    <span class="Logo__text">
      {{ $t('logo.text') }}
    </span>
  </div>
</template>

<style lang="scss">
  .Logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;

    &__image {
      height: 2.5em;
    }

    &__text {
      font-size: 1.5625em;
    }
  }
</style>