<template>
  <div id="Layout" class="Layout--default">
    <AppMenu />
    <NuxtPage />
  </div>
</template>

<style lang="scss">
  .Layout--default {
    min-height: 100vh;

    color: rgba(var(--color-text), 1);
    background-color: rgba(var(--color-secondary), 1);
  }
</style>