<template>
  <div id="Layout" class="Layout--login">
    <nuxt-img
      class="login__background"
      src="/img/bg.webp"
      quality="100"
      width="100%"
      height="100%"
      loading="lazy"
    />
    <NuxtPage />
  </div>
</template>

<style lang="scss">
  .Layout--login {
    min-height: 100vh;

    color: rgba(var(--color-text), 1);
    background-color: rgba(var(--color-secondary), 1);

    .login__background {
      position: fixed;
      z-index: 0;
      opacity: 0.15;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: 100%;
      pointer-events: none;
    }
  }
</style>