<template>
  <section class="TagsSection">
    <h2 class="TagsSection__header">
      {{ $t('sections.tags.header') }}
    </h2>
    <form @submit.prevent="addTag" class="TagsSection__form">
      <AppInput
        id="tag"
        type="text"
        variant="normal"
        class="TagsSection__input---name"
        :placeholder="$t('sections.tags.form.name_placeholder')"
        :required="true"
        v-model:value="payload.tagName"
      >
        {{ $t('sections.tags.form.name') }}
      </AppInput>
      <AppInput
        id="quantityOfPages"
        type="number"
        variant="normal"
        class="TagsSection__input---quantity"
        :required="true"
        v-model:value="payload.quantityOfPages"
      >
        {{ $t('sections.tags.form.quantity_of_pages') }}
      </AppInput>
      <AppButton type="submit" class="TagsSection__button">
        {{ $t('sections.tags.form.add') }}
      </AppButton>
    </form>

    <AppTable
      :columns="headers"
      :rows="rows"
      class="TagsSection__table"
    >
       <template v-slot:name="{ row }">
         <AppButton element="a" :href="`/tag/${row.userTagId}`" variant="link">
          {{ row.name }}
        </AppButton>
      </template>

      <template v-slot:services="{ row }">
        {{ row.services.join(', ') }}
      </template>

      <template v-slot:updatedAt="{ row }">
        {{ new Date(row.updatedAt).toLocaleString() }}
      </template>

      <template v-slot:actions="{ row }">
        <AppButton
          type="button"
          variant="icon"
          class="table__button"
          v-tippy="'Re-scrap tag'"
          @click="reScrapTagConfirm(row)"
        >
          <fa :icon="['fas', 'refresh']" />
        </AppButton>
        <AppButton
          type="button"
          variant="icon"
          class="table__button"
          v-tippy="'Delete tag'"
          @click="deleteTagConfirm(row)"
        >
          <fa :icon="['fas', 'trash-alt']" />
        </AppButton>
      </template>
    </AppTable>

    <PopupConfirm
      ref="confirmPopup"
      @confirm="confirmAction"
    />
  </section>
</template>

<script lang="ts" setup>
  import { toast } from 'vue3-toastify';
  import { useI18n } from 'vue-i18n';
  const { t } = useI18n();

  const tagStore = useTagStore();
  await tagStore.fetchTags();

  const confirmPopup = ref();
  const confirmAction = (action: () => void) => action();

  interface Tag {
    id: number;
    userId: number;
    userTagId: number;
    name: string;
    price: number;
    quantityOfPages: number;
    services: string[];
    updatedAt: Date;
    createdAt: Date;
  }

  const rows = computed(() => tagStore.getTags);
  const headers = [
    { name: 'name', value: t('sections.tags.table.name') },
    { name: 'services', value: t('sections.tags.table.services') },
    { name: 'quantityOfPages', value: t('sections.tags.table.quantity_of_pages') },
    { name: 'updatedAt', value: t('sections.tags.table.updated_at') },
    { name: 'price', value: t('sections.tags.table.price') },
    { name: 'actions', value: t('sections.tags.table.actions') },
  ];

  const payload = ref({
    tagName: '',
    quantityOfPages: 0,
    services: ['AMAZON'],
  });

  const addTag = async() => {
    try {
      await tagStore.subscribeToTag({
        ...payload.value,
        quantityOfPages: +payload.value.quantityOfPages,
      });
      toast.info(t('sections.tags.messages.add_success'));
      await tagStore.fetchTags();
    } catch (error: any) {
      toast.error(error.message);
    }
  }

  const reScrapTag = async(tag: Tag) => {
    try {
      await tagStore.scrapTag({ userTagId: tag.userTagId });
      toast.info(t('sections.tags.messages.scrap_success'));
      await tagStore.fetchTags();
      confirmPopup.value.close();
    } catch (error: any) {
      toast.error(error.message);
    }
  }

  const deleteTag = async(tag: Tag) => {
    try {
      await tagStore.deleteTag({userTagId: tag.userTagId});
      toast.info(t('sections.tags.messages.delete_success'));
      await tagStore.fetchTags();
      confirmPopup.value.close();
    } catch (error: any) {
      toast.error(error.message);
    }
  }

  const reScrapTagConfirm = (tag: Tag) => {
    confirmPopup.value.open(
      t('sections.tags.confirm_scrap_title', { id: tag.id }),
      t('sections.tags.confirm_scrap_text', { name: tag.name }),
      () => reScrapTag(tag),
    );
  }

  const deleteTagConfirm = (tag: Tag) => {
    confirmPopup.value.open(
      t('sections.tags.confirm_delete_title', { id: tag.id }),
      t('sections.tags.confirm_delete_text', { name: tag.name, price: tag.price }),
      () => deleteTag(tag),
    );
  }

</script>

<style lang="scss">
  .TagsSection {
    @include max-width;
    background-color: rgba(var(--color-tertiary));
    padding: 1.5rem 2rem 2rem;

    &__form {
      display: flex;
      align-items: flex-end;
      justify-content: stretch;
      gap: 20px;
      padding-bottom: 2rem;
    }

    &__input {
      &---name {
        width: 100%;
      }

      &---quantity  {
        width: 200px;
      } 
    }

    &__button {
      width: 100px;
      background-color: rgba(var(--color-secondary));
    }


    &__table {
      .table {
        &__button {
          font-size: 1rem;
        }
      }
    }
  }
</style>