<template>
  <AppPage name="index">
    <SectionTags />
  </AppPage>
</template>

<script lang="ts" setup>
  definePageMeta({
    middleware: ['auth'],
  });
</script>

<style lang="scss">
  .AppPage--index {
    padding: 1rem 0;
  }
</style>
