<template>
  <AppPage name="login">
    <AppLogo class="login__logo"/>

    <p class="paragraph">
      {{ $t('login.paragraph') }}
    </p>

    <form @submit.prevent="toSubmit" class="form">
      <AppInput
        id="email"
        variant="login"
        type="text"
        class="form__input"
        :required="true"
        v-model:value="form.email"
      >
        {{ $t('login.form.email') }}
      </AppInput>
      <AppInput
        id="password"
        variant="login"
        type="password"
        class="form__input"
        :required="true"
        v-model:value="form.password"
      >
        {{ $t('login.form.password') }}
      </AppInput>
      <AppButton type="submit" class="form__button">
        {{ $t('login.form.login') }}
      </AppButton>
      <p class="form__account">
        {{ $t('login.form.no_account') }}
        <NuxtLink to="/register" class="form__signup">
          {{ $t('login.form.register') }}
        </NuxtLink>
      </p>
    </form>
  </AppPage>
</template>

<script lang="ts" setup>
  import { toast } from 'vue3-toastify';

  definePageMeta({
    layout: 'login',
    middleware: ['not-auth'],
  });

  const authStore = useAuthStore();
  const router = useRouter();

  const form = ref({
    email: null,
    password: null,
  });

  const toSubmit = async() => {
    try {  
      await authStore.login(form.value);
      router.push('/');
    } catch (error: any) {
      toast.error(error.message);
    }
  }
</script>

<style lang="scss">
  .AppPage--login {
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login__logo {
      margin-top: 4rem;
      font-size: 2.8rem;
    }

    .paragraph {
      margin: 2rem 0 0.2rem;
      max-width: 600px;
      text-align: center;
    }

    .form {
      width: 500px;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      &__input {        
        margin-bottom: 0.3rem;
      }

      &__button {
        margin-top: 0.8rem;
      }

      &__account {
        margin-top: 0.2rem;
        font-size: .85rem;
        text-align: center;
      }

      &__signup {
        color: rgba(var(--color-base), 0.5);
        transition: 0.3s;

        &:hover, &:focus {
          color: rgba(var(--color-base), 1);
          opacity: 0.7;
        }
      }
    }
  }
</style>

