<template>
  <AppPage name="register">
    <AppLogo class="register__logo"/>

    <p class="paragraph">
      {{ $t('register.paragraph') }}
    </p>

    <form @submit.prevent="toSubmit" class="form">
      <AppInput
        id="name"
        variant="login"
        type="text"
        class="form__input"
        :required="true"
        v-model:value="form.name"
      >
        {{ $t('register.form.name') }}
      </AppInput>
      <AppInput
        id="email"
        variant="login"
        type="text"
        class="form__input"
        :required="true"
        v-model:value="form.email"
      >
        {{ $t('register.form.email') }}
      </AppInput>
      <AppInput
        id="password"
        variant="login"
        type="password"
        class="form__input"
        :required="true"
        v-model:value="form.password"
      >
        {{ $t('register.form.password') }}
      </AppInput>
      <AppInput
        id="confirmPassword"
        variant="login"
        type="password"
        class="form__input"
        :required="true"
        v-model:value="form.confirmPassword"
      >
        {{ $t('register.form.confirm_password') }}
      </AppInput>
      <AppCheckbox
        id="checkbox"
        :required="true"
        v-model:value="form.agreedToPrivacyPolicy"
        class="form__checkbox"
      >
        {{ $t('register.form.privacy_policy') }}
      </AppCheckbox>
      <AppButton type="submit" class="form__button">
        {{ $t('register.form.register') }}
      </AppButton>
      <p class="form__account">
        {{ $t('register.form.have_account') }}
        <NuxtLink to="/login" class="form__signup">
          {{ $t('register.form.login') }}
        </NuxtLink>
      </p>
    </form>
  </AppPage>
</template>

<script lang="ts" setup>
  import { toast } from 'vue3-toastify';
  import { useI18n } from 'vue-i18n';
  const { t } = useI18n();

  definePageMeta({
    layout: 'login',
    middleware: ['not-auth'],
  });

  const userStore = useUserStore();
  const router = useRouter();

  const form = ref({
    name: null,
    email: null,
    password: null,
    confirmPassword: null,
  });

  const toSubmit = async() => {
    try {  
      await userStore.createUser(form.value);
      toast.info(t('register.form.success'));
      router.push('/login');
    } catch (error: any) {
      toast.error(error.message);
    }
  }
</script>

<style lang="scss">
  .AppPage--register {
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .register__logo {
      margin-top: 4rem;
      font-size: 2.8rem;
    }

    .paragraph {
      margin: 2rem 0 0.2rem;
      max-width: 600px;
      text-align: center;
    }

    .form {
      width: 500px;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      &__input {        
        margin-bottom: 0.3rem;
      }

      &__button {
        margin-top: 1.3em;
      }

      &__account {
        margin-top: 0.2rem;
        font-size: 0.85rem;
        text-align: center;
      }

      &__signup {
        color: rgba(var(--color-base), 0.5);
        transition: 0.3s;

        &:hover, &:focus {
          color: rgba(var(--color-base), 1);
          opacity: 0.7;
        }
      }
    }
  }
</style>

