<template>
  <AppPage name="tag">
    <section>
      <h2></h2>
    </section>
  </AppPage>
</template>

<script lang="ts" setup>
  definePageMeta({
    middleware: ['auth'],
  });

  const route = useRoute();

  async function fetchPost() {
    console.log(route.params.id)
  }

  onMounted(fetchPost)
</script>

<style lang="scss">
  .AppPage--tag {
    padding: 1rem 0;
  }
</style>
